<div class= 'col-sm-6 col-lg-4'>
    <div class="card">
      <div class="card-block">
        <h4 class="card title"><%= link_to article.title, article %></h4>
        <h6><%= article.created_at.strftime('%b %d, %Y') %></h6>
        <p class="card-text"><%= markdown((article.body).truncate(400)) %> </p>
        <b>views:</b>
          <p><%= article.num_view %></p>

        <% link_to 'Read more', article, class: 'btn btn-read' %>
      </div>
      <div class="text-left">
          <%= link_to "READ MORE", article_path(article) , class:'btn btn-warning' %>
        </div>
    </div>
  </div>
