<% provide(:page_title, @article.title ) %>
<p id="notice"><%= notice %></p>
<div class="col-sm-11 col-xs-12 blog-content">
<h2 class = "text-center">
  <%= @article.title %>
</h2>
<h6 class="text-left" ><b> published : <%= @article.created_at.strftime('%b %d, %Y') %></b></h6>

<p class="card-text"><%=  markdown(@article.body) %> </p>
</div>
<p>
slug:
  <%= @article.slug %>
</p>


<div class="card">
            <div class="card-header"> Comments (<%= @article.comments.size %>)</div>
            <div class="card-block">

            <div class="card-text">
                <%= render partial: 'articles/comment', collection: @article.comments %>
                <%= render partial: 'comments/form' %>

  </div>
  </div>
  </div>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to "Delete",@article, method: :delete, data: { confirm: 'Are you sure?'}  %> |

<%= link_to 'Back', articles_path %>
